.navbar {
  overflow: hidden;
  background-color: rgb(110, 58, 47);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /*Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  /* float: left; */
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(120, 72, 58);
  color: black;
}

.gradient {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #000000;
    }
    100% {
      background-color: #ffffff;
    }
  }
  /* #525C29 */
  /* #D6E1A7; */
.gradient {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #525C29;
    }
    100% {
      background-color: #D6E1A7;
    }
  }
  
  html,
  body {
    height: 100%;
  }

  
  .indie_font{
      font-family: 'Indie Flower', cursive;
  }
  .permanent{
    font-family: 'Permanent Marker', cursive;
  }

  @keyframes stretch {
    /* declare animation actions here */
  }
  
  .img_ani {
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  }

  img {
    width: 400px;
    height: 300px;
}

.img { 
  max-width: 100%; height: auto 
}

  .pattern{
    --stripe: #cfd8dc;
    --bg: #e1e1e1;
  
    background-color: #525C29;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    
    /* background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);  display: block; */

    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* making a grid */
  article{
    background-color:rgb(200,200,200);
    margin:10px;
    box-sizing:border-box;
    text-align:center; /*left, right, center, justify*/
    grid-area: 3 / 1 / 4 / 9; /*row start, column start, row end, column end*/
      /* article divided into different rows and columns*/
    display: grid;
      grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
      grid-template-rows: 15% 22% 22% 22% 8% 8%;
  }
  

/* animated cirle square */

.movingcircle {
	height: 400px;
	width: 400px;
	background-color: red;
	animation: 
	  pulse 3s ease infinite alternate, 
	  nudge 5s linear infinite alternate;
	border-radius: 100%;
  }

  
  @keyframes nudge {
	0%, 100% {
	  transform: translate(0, 0);
	}
	
	50% {
	  transform: translate(500px, 0);
	}
	
	80% {
	  transform: translate(0, 0);
	}
  }


  #container {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }

  #container1 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }

  #container2 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }
  #container3 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }
  #container4 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }
  #container5 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }
  #container6 {
    width:100%; /*The container will try to fill the entire browser window width*/
    max-width:960px; /*the maximum width the container will grow to*/
    /*height:960px;*/
    margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
    /* background-color:rgb(225,225,225); */
    padding:0px;
    box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/
  
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     /* grid-template-columns: repeat(8, 12.5%);*/
      /*grid-template-rows: 20% 20% 20% 20% 20%;*/
  }

    .halfboxspace{
        /* background-color:rgb(117,145,181, 0.7); */
        --stripe: #cfd8dc;
    --bg: #e1e1e1;
  
    background-color: #525C29;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
        margin:20px;
        padding:20px;
        box-sizing:border-box;
        text-align:left; /*left, right, center, justify*/
        grid-column-end: span 4;
        /* margin: auto; */
        /* width: 100%;
        /* border: 3px solid green; 
        padding: 10px; */
    }

    .zoom img {
      /* display:block; */
      margin: auto;
      max-width:100%;
      height:auto;
      /* border-radius:10px; */
      transition:transform 0.4s;
     }
     .zoom img:hover {
      transform:scale(1.25) ;
     }

     .funky {
      height: 250px;
      width: 250px;
      margin: 0 auto;
      background-color: #D6E1A7;
      animation-name: stretch;
      animation-duration: 1.5s; 
      animation-timing-function: ease-out; 
      animation-delay: 0s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-play-state: running;
    }
    
    @keyframes stretch {
      0% {
        transform: scale(.3);
        background-color: 525C29;;
        border-radius: 100%;
      }
      50% {
        background-color: #525C29;
      }
      100% {
        transform: scale(1.5);
        background-color: #D6E1A7;
      }
    }
 
    /* body,
    html {
      height: 100%;
    }
    
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    } */