.element {
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #000000;
    }
    100% {
      background-color: #ffffff;
    }
  }
  /* #525C29 */
  /* #D6E1A7; */
.element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #525C29;
    }
    100% {
      background-color: #D6E1A7;
    }
  }
  
  html,
  body {
    height: 100%;
  }

  /*font-family: 'Indie Flower', cursive;